.header-root {
	display: flex;
	position: static;
	background-color: aqua;
	width: 100%;
	height: 15%;
	border-radius: 0 0 80px 80px;
	padding: 30px;
}

.header-item-1 {
	flex: .2;
	padding-left: 30px;
}
