.display-root {
	flex: .6 1;
	height: 100%;
	background-color: white;
	display: grid;
	overflow-y: auto;
	overflow-x: hidden;
	align-items: center;
	padding: 10px;
	justify-items: center;
	align-content: space-between;
}


.display {
	background-color: rgb(230, 230, 230);
	margin: 8px;
	width: 100%;
	display: grid;
	height: 30px;
	border-radius: 99px;
	align-items: center;
	justify-content: space-evenly;
}


.display:hover {
	transition: transform 0.3s ease-in-out;
	transform: scale(1.3);
	cursor: pointer;
	background-color: #25a5a5;
}